<!-- Modal Box-->

<div id="maintenance-modal" class="modal fade">
<!-- tabindex="-1" role="dialog" aria-labelledby="modalMaintenanceLabel" aria-hidden="true"> -->
<div class="modal-dialog"> <!-- role="document"> -->
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <h5 class="modal-title"><%= "title" %></h5>
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    
    <!--<%#= form_for :article, url: article_path(@article.id), method: :patch do |f| %>-->
        <div class="modal-body">
            <div class="form-group">
                <%#= f.label :maintenance, "Indique una fecha" %>
                <%#= f.text_field :maintenance, class: "datepicker-here form-control", autocomplete: "off", data: {language: 'es'}%>
            </div>
        </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <%#= f.submit "Guardar", class: "btn btn-primary" %>        
    </div>
    <%# end %>
    </div>
</div>
</div>
<!-- Modal Box-->