<%= render "layouts/headerDate" %>
<%= render "layouts/lateral" %>
<h1>Registry#Show</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque reiciendis harum animi omnis, saepe itaque sed, ut obcaecati autem dicta nihil blanditiis repudiandae at voluptatum tempore? Porro quo omnis ullam!</p>