<%= render "layouts/headerDate" %>
<%= render "layouts/lateral" %>
<div class="container">
    <h1>Registrar entrega</h1>
    <br>
    <div class="row">
        <div class="col-xm-6 col-sm-2">
            logo
        </div>
        <div class="col-xm-6 col-sm-3">
            Clave del Profesor
        </div>
        <div class="col-xm-12 col-sm-4">
            <input type="text" name="" id="">
        </div>
        <div class="col-xs-12 col-sm-3">
            <input type="submit" value="Enviar Consulta">
        </div>
    </div>

    <br>

    <div class="jumbotron">
        <div class="row text-center">
            <div class="col-sm-6">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, dolor.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, dolor.</p>                
            </div>
            <div class="col-sm-6">
                <div style="width:240px; height:240px; background-color:dodgerblue"></div>
                <br>
                <input type="submit" value="terminar">
            </div>
        </div>
    </div>
    
    <br>
</div>
