/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require bootstrap-combobox
 *= require bootstrap-3-datepicker
 *= require_tree .
 *= require_self
 */
 
 * {
  font-family: 'Ubuntu', sans-serif;
}

.form {
  border: 1px solid silver;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

.notice, .alert-rails {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  position: fixed!important;
  left: 0;
  right: 0;
  z-index: 1;

  top: 0;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  animation: move 4s forwards;
}

.alert-rails {
  border-top: 5px solid #fd2323;
  background-color: #EF5350;
}

.notice {
  border-top: 5px solid dodgerblue;
  background-color: #29B6F6;
}

@keyframes move {
  0% {
    top: 0;
  }
  30% {
    top: 80px;
  }
  90% {
    top: 80px;
    opacity: 1;
  }
  
  100% {
    top: -80px;    
    opacity: .2;
  }
}

.na-hidden{
  transform: scaleY(0);
  transition: transform 2s;
}

.custom-select {
  width: 100%;
}

.btn-i>tr>td>a>i {
  line-height: 36px;
  padding: 0;
}

header {
  grid-area: header;
}
.main {
  grid-area: main;
}
nav {
  grid-area: aside;
}
footer {
  grid-area: footer;
}

.btn {
  white-space: normal!important;
}

.his-form {
  display: flex;
  flex-direction: row;
  max-width: 300px;
}


/* grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-template-areas: "header header"
                       "main aside"
                       "footer footer";
  grid-template-rows: 30vh
                      1fr
                      65px;
  min-height: 100vh;
}

/* en caso de no haber aside*/
.g-s{
  grid-template-areas: "header header"
  "main main"
  "footer footer" !important;
  grid-template-rows: 30vh
  1fr
  65px;
}

/* grid con sidebar*/
  .grid-comp {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-areas: "header header"
                         "main aside"
                         "footer footer";
    grid-template-rows: 75px
                        1fr
                        65px;
    min-height: 100vh;
  }

/*  lateral  */
.barra-lateral{
  background-color: rgba(228, 228, 228, 0.8);
  display: grid;
  align-content: space-evenly;

  position: sticky;
  top: 0;
}

.barra-lateral a {
  text-decoration: none;
  color: #00cc00;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.barra-lateral a:hover{
  text-decoration: none;
}
/*  lateral  */

/************************************/
/*      media query seccion         */
/************************************/
@media screen and (max-width: 767px){
  .grid {
    grid-template-columns: 100%;
    grid-template-areas: "header"
                         "aside"
                         "main"
                         "footer";
    grid-template-rows: auto
                        auto
                        1fr
                        65px;
  }

  .g-s{
    grid-template-areas: "header"
                         "main"
                         "footer" !important;
    grid-template-rows: auto
                        1fr
                        auto;
  }
  
  .grid-comp {
    grid-template-columns: 100%;
    grid-template-areas: "header"
                         "aside"
                         "main"
                         "footer";
    grid-template-rows: auto
                        auto
                        1fr
                        auto;
  }

  .barra-lateral {
    background-color: #171717;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    z-index: 1;
  }

  .barra-lateral a {
    padding: 0 10px;
  }
  /* history menu */
  .myFlex-column {
    flex-direction: column;
  }
  /* footer con botones del menu principal*/
  .footer {
    flex-direction: column;
    padding: 0;
  }
  .footer .btn {
    margin: 10px 0;
  }
  .footer-access {
    display: flex;
    flex-direction: column;
  }
  .footer-access .btn {
    margin: 10px 0!important;
  }
  .footer-handle {
    padding: 0 30px;
  }
  /* footer con botones del menu principal*/
  .header-pr {
    flex-flow: row;
    flex-wrap: wrap;
  }  
  .a1 {
    order: 1;
  }
  .a2{
    order: 3;
  }
  .a3{
    order: 2;
  }
}
/************************************/
/*        media query seccion       */
/************************************/
