/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require_tree .
 *= require_self
 */

  .form {
    border: 1px solid silver;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
  }

  .notice, .alert {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    position: fixed!important;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .alert {
    background-color: #EF5350;
  }

  .notice {
    background-color: #29B6F6;
  }

  .na-hidden{
    transform: scaleY(0);
    transition: transform 2s;
  }

  /* temporal */
  .imagen-box {
    width: 120px;
    height: 120px;
    background: dodgerblue;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom-select {
    width: 100%;
  }

  .btn-i>tr>td>a>i {
    line-height: 36px;
    padding: 0;
  }

  header {
    grid-area: header;
  }
  .main {
    grid-area: main;
  }
  nav {
    grid-area: aside;
  }
  footer {
    grid-area: footer;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-areas: "header header"
                         "main aside"
                         "footer footer";
    grid-template-rows: 30vh
                        1fr
                        65px;
    min-height: 100vh;
  }
  .g-s{
    grid-template-areas: "header header"
    "main main"
    "footer footer" !important;
  }
  .grid-comp {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-areas: "header header"
                         "main aside"
                         "footer footer";
    grid-template-rows: 65px
                        1fr
                        65px;
    min-height: 100vh;
  }