/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require bootstrap-combobox
 *= require_tree .
 *= require_self
 */

  .form {
    border: 1px solid silver;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
  }

  .notice, .alert {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    position: fixed!important;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .alert {
    background-color: #EF5350;
  }

  .notice {
    background-color: #29B6F6;
  }

  .na-hidden{
    transform: scaleY(0);
    transition: transform 2s;
  }

  /* temporal */
  .imagen-box {
    width: 120px;
    height: 120px;
    background: dodgerblue;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom-select {
    width: 100%;
  }

  .btn-i>tr>td>a>i {
    line-height: 36px;
    padding: 0;
  }

  header {
    grid-area: header;
  }
  .main {
    grid-area: main;
  }
  nav {
    grid-area: aside;
  }
  footer {
    grid-area: footer;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-areas: "header header"
                         "main aside"
                         "footer footer";
    grid-template-rows: 30vh
                        1fr
                        65px;
    min-height: 100vh;
  }
  .g-s{
    grid-template-areas: "header header"
    "main main"
    "footer footer" !important;
  }
  .grid-comp {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-areas: "header header"
                         "main aside"
                         "footer footer";
    grid-template-rows: 65px
                        1fr
                        65px;
    min-height: 100vh;
  }
@media (max-width: 670px){
  .grid {
    grid-template-columns: 100%;
    grid-template-areas: "header"
                         "aside"
                         "main"
                         "footer";
    grid-template-rows: 30vh
                        80px
                        1fr
                        65px;
  }
  
  .grid-comp {
    grid-template-columns: 100%;
    grid-template-areas: "header"
                         "aside"
                         "main"
                         "footer";
    grid-template-rows: 150px
                        80px
                        1fr
                        65px;
  }

  .cabecera {
    padding-left: 40px;
    padding-top: 10px;
  }

  .barra-lateral {
    background-color: #111;
    display: flex!important;
    justify-content: center;
    position: relative;
  }

  .barra-lateral > a {
    justify-content: inherit;
    margin: 10px;
  }
}

.btn {
  white-space: normal!important;
}








/************************************/
/***********************************/

  @media (min-width: 768px) {
    .form-search .combobox-container,
    .form-inline .combobox-container {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: top;
    }
    .form-search .combobox-container .input-group-addon,
    .form-inline .combobox-container .input-group-addon {
      width: auto;
    }
  }
  .combobox-selected .caret {
    display: none;
  }
  /* :not doesn't work in IE8 */
  .combobox-container:not(.combobox-selected) .glyphicon-remove {
    display: none;
  }
  .typeahead-long {
    max-height: 300px;
    overflow-y: auto;
  }
  .control-group.error .combobox-container .add-on {
    color: #B94A48;
    border-color: #B94A48;
  }
  .control-group.error .combobox-container .caret {
    border-top-color: #B94A48;
  }
  .control-group.warning .combobox-container .add-on {
    color: #C09853;
    border-color: #C09853;
  }
  .control-group.warning .combobox-container .caret {
    border-top-color: #C09853;
  }
  .control-group.success .combobox-container .add-on {
    color: #468847;
    border-color: #468847;
  }
  .control-group.success .combobox-container .caret {
    border-top-color: #468847;
  }
  