// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit {
    color: #2962ff;
    line-height: 1px;
    text-decoration: none!important;
  }
  
.destroy {
    color: #ff0000;
    line-height: 1px; 
}

.build {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px;
}
  
.edit_article form{
    background: #27AE60;
    padding: 20px;
    border-radius: 5px;
    border: 2px double silver;
    max-width: 300px;
    margin: 10% auto;
    color: white;
}