// Place all the styles related to the Proyector controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.botonera {
  display: flex;
  flex-flow: column;
  justify-content: center;
  a {
    margin: 10px;
    white-space: normal;
  }
}

.vh-100 {
  height: 100vh;
} 
  
@media screen and (max-width: 767px) {
  .img-fluid{
    max-width: 40%!important;
  }
}

.cabecera {
  background-color: #64DD17;
  color: white;
  
  margin: 0 0!important;
  border-bottom: 10px solid silver;
  
  .date {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    word-break: break-all;

    .date-text {
      letter-spacing: 2px;
      white-space: nowrap;
      font-size: .8em;
    }
  }
}
 

.header-pr {
  background-color: #1cd045;
  color: white;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}