// Place all the styles related to the Proyector controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.botonera {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-evenly;
}