// Place all the styles related to the Registries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* index - en curso */
.ch-registry {
    background-color: #1bdc3b!important;
    color: white;
    font-weight: bold;
}
.lg {
    width: 30% !important;
}
.fg-return {
    width: 100%;
}
.menu {
    border: 1px solid gray; 
    max-width: 350px;
    margin: 0 auto;
    padding: 10px; 
    border-radius: 10px; 
    flex-basis: auto;
    flex-grow: 1;
}

.tables-reg {
    width: auto;
    white-space: nowrap;
}

/* history */
.pagination {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }

.btn-info > a{
    color: white;
    text-decoration: none;

    &:hover {
        color: white;
        text-decoration: none;    
    }
}

/* history */
@media screen and (max-width: 350px){
    .his-form {
        flex-direction: column!important;
    }
}
