// Place all the styles related to the Registries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ch-registry {
    background-color: #1bdc3b!important;
    color: white;
    font-weight: bold;
}
.lg {
    width: 30% !important;
}
.fg-return {
    width: 100%;
}