<header class="cabecera row">
    <div class="col-xs-12 col-sm-2">
    <%= link_to image_tag("tecnm", style: "height: 70px"), root_path, class: 'h2 ml-4 c-link' %>    
    </div>
    <div class="clearfix hidden-sm-down col-md-6"></div>
    <div class="col-sm-3 col-md-2 date justify-content-center">
        <div class="d-flex flex-column">
            <span>Fecha: </span>
            <span class="date-text"><%= Time.now.strftime('%d/%m/%Y') %></span>
        </div>
    </div>
    <div class="col-sm-3 col-md-2 date justify-content-center">
        <div class="d-flex flex-column">
            <span>Hora: </span>
            <span id="date_time" class="date-text"></span>
        </div>
    </div>
</header>
